<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <h1>Sign Up</h1>
        <div>
            <a href="/0" class="active">Login</a>
        </div>
        <form action="{{ url_for('signup') }}", method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" id="username" required>
            <label for="password">
                <i class="fas -fa-lock"></i>
            </label>
            <input type="password" name="password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Sign up">
        </form>
    </div>
</body>
</html>